

html {
  
}

body {
  min-height: 80%;
}

body, p, blockquote p {
  font-family: 'OpenSans', sans-serif;
}

blockquote p {
  font-style: italic;
  margin-bottom: 1em;
}

a {
  color: #04627B;
}

.spaced {
  margin-top: 3em;
  margin-bottom: 0em;
}

#logo {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
}

#logo a:hover {
  text-decoration: none;
}

.main-header {
  text-align: center;
}

/* 
 * Nav and Footer styles based on OKFN brand design. 
 */

nav, 
footer,
footer p {
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* 
 * Visualization-specific styles. 
 */

#bubbletree {
  margin: 0 auto;
  width: 940px;
  height: 550px;
}

#bubbletree .label {
  background-color: rgba(0,0,0,0);
}

#bubbletree .desc {
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 13px;
}

#bubbletree .amount {
  font-family: Palatino, georgia, 'times new roman', serif;
  font-size: 14px;
}
